services:
  web:
    build: .
    container_name: jiomart_django
    command: gunicorn jiomart_clone.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8001:8000"
    env_file:
      - .env
