body {
    background-color: #f4f6f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.page-wrapper {
    min-height: 100vh;
}

.card-box {
    width: 100%;
    max-width: 380px;
    background: #ffffff;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

.brand {
    color: #0a5bdd;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #0a5bdd;
    border: none;
}

.btn-primary:hover {
    background-color: #084bb5;
}

.form-control {
    border-radius: 8px;
}

.navbar-brand {
    font-size: 20px;
}

.nav-link {
    font-weight: 500;
}

.page-wrapper {
    min-height: calc(100vh - 70px);
}

.navbar input.form-control {
    border-radius: 20px;
}



/* Wrapper to control horizontal spacing */
.product-wrapper {
    max-width: 1200px;   /* controls left & right space */
    margin: 0 auto;      /* centers the grid */
    padding: 30px 0;
}

/* Product cards */
.product-card {
    height: 100%;
}

/* Image consistency */
.product-card img {
    height: 180px;
    object-fit: cover;
}
