name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
            cd /home/ubuntu/jiomart_clone &&
            git fetch origin main &&
            git reset --hard origin/main &&
            source venv/bin/activate &&
            pip install -r requirements.txt &&
            python manage.py migrate --noinput &&
            python manage.py collectstatic --noinput &&
            sudo systemctl restart jio &&
            sudo systemctl reload nginx
          "
